#TeX Files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.nav
*.snm

*.pdf
*.DS_Store
*.csv
*__pycache__

#.idea file
**/.idea/
*.idea/
.idea/
sync_files
exclude_sync.txt
